@using THONGTINDONHANG.Controls

<nav class="navbar navbar-expand-lg" style="background-color: lightblue; font-family: 'Times New Roman', Times, serif;">
    <div class="container-fluid">
        <a class="navbar-brand" href="" style="color: black; font-weight: bold; font-size: 1.5rem;">PShop Jewelry</a>
        <div class="collapse navbar-collapse justify-content-between">
            <ul class="navbar-nav mx-auto w-50 justify-content-evenly">
                <AuthorizeView>
                    <Authorized>
                        <li class="nav-item">
                            <a class="nav-link" href="outstandingorders" style="color: black; font-weight: bold; font-size: 1.25rem;">Đơn Đặt Hàng</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="processedorder" style="color: black; font-weight: bold; font-size: 1.25rem;">Đơn Hàng Đã Xử Lý</a>
                        </li>
                    </Authorized>
                </AuthorizeView>
            </ul>
            <ul class="navbar-nav ms-auto">
                <AuthorizeView>
                    <Authorized>
                        <li class="nav-item">
                            <NavLink class="nav-link" href="/logout" style="color: black; font-weight: bold; font-size: 1.25rem;">
                                Đăng Xuất
                            </NavLink>
                        </li>
                    </Authorized>
                    <NotAuthorized>
                        <li class="nav-item">
                            <NavLink class="nav-link" href="cart" style="color: black; font-weight: bold; font-size: 1.25rem;">
                                <ThanhPhanGioHang></ThanhPhanGioHang>
                            </NavLink>
                        </li>
                    </NotAuthorized>
                </AuthorizeView>
            </ul>
        </div>
    </div>
</nav>

@code {
}
