<div class="card m-2 p-2 d-flex flex-column justify-content-between" style="width: 22rem; height: 100%; border: 2px solid lightgray;">
    <img src="@product.ImageLink" class="card-img-top" alt="" />
    <div class="card-body d-flex flex-column" style="min-height: 200px;">
        <h5 class="card-title">
            <NavLink href=@($"product/{product.ProductId}")>@product.Name</NavLink>
        </h5>
        <div class="mt-auto">
            <p class="card-text text-center" style="color:indianred; font-size: 1.5rem; font-weight: bold;">@product.Gia.ToString("c")</p>
        </div>
    </div>
</div>


@code {
    [Parameter]
    public Product product { get; set; }
}
